!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/grid.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  #header-spinner-container
    #header-spinner 
      #pedaling-logo
        h1 Pedaling 
      #paul-logo
        h1 Paul
  body!= body
