body {
  font-family: "Helvetica Neue", "Lucida Grande", "Arial";
  font-size: 13px;
  text-align: left;
  text-stroke: 1px rgba(255,255,255,0.1);
  color: #555;
}
h1,
h2 {
  margin: 0;
  font-size: 22px;
  color: #343434;
}
#header-spinner-container {
  width: 250px;
  height: 250px;
}
#header-spinner {
  -webkit-animation-name: spinnerRotate;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-transform-origin: 100px 22px;
  width: 250px;
  height: 22px;
  margin-left: 80px;
  margin-top: 75px;
}
#header-spinner h1 {
  font-family: "Georgia";
  font-size: 24px;
}
text-align right,
#pedaling-logo,
#pedaling-logo h1 {
  margin-left: 50px;
  margin-bottom: -10px;
}
#paul-logo {
  -webkit-transform: rotate(-180deg);
}
#paul-logo h1 {
  margin-left: 140px;
}
#pedaling-logo h1,
#paul-logo h1 {
  text-align: left;
  width: 100%;
}
@-webkit-keyframes spinnerRotate {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}
#articles {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
#articles .article {
  margin: 20px;
}
#articles .article .created_at {
  display: none;
}
#articles .article .title {
  font-weight: bold;
  text-decoration: underline;
  background-color: #eee;
}
#articles .article .body {
  background-color: #ffa;
}
.article .created_at {
  display: none;
}
.article input[type =text] {
  width: 490px;
  margin-left: 16px;
}
.article input[type =button],
.article input[type =submit] {
  text-align: left;
  margin-left: 440px;
}
.article textarea {
  width: 490px;
  height: 90px;
}
